.card__container {
	position: relative;
	border: 3px solid #3e4357;
	border-radius: 10px;
	width: 400px;
	height: 600px;
	margin-top: 10px;
	display: flex;
	overflow: hidden;
}

.card__image {
	min-width: 100%;
	min-height: 100%;

	transition: transform .8s;
}

.card__image:hover {
	transform: scale(1.1)
}

