.menu-bar__item {
	display: flex;
	align-items: center;
}

.menu-bar__item > ul {
	display: flex;
	list-style: none;
	gap: 10px;
}

.menu-bar__item > ul > li > a {
	text-decoration: none;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	padding: 4px 12px;
	border-radius: 32px;
}

.menu-bar__item > ul > li > a:hover {
	background-color: #e6e6e6;
}
